<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Reparaciones Igor</title>
    <link rel="icon" href="static/img/icon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="static/img/icon.ico" type="image/x-icon">
    <meta name="description" content="Made by IgorDev">
</head>
<body>
    <header class="header">
        <section id="title">
            <h1>Lorem ipsum</h1>


        </section>
        <nav id="nav">
            <a href="/" class="a">primary</a>
            <a href="/secondary" class="a" type="text">secondary</a>


        </nav>
    </header>
    <section id="hero">
        <section id="text">
            <h2>Lorem Ipsum</h2>
            <p>In hac habitasse platea dictumst. Nulla eleifend enim eu velit efficitur porta ac ut ligula. Integer viverra magna ut vehicula lobortis. Nulla nec tellus sed lacus euismod porttitor. Proin vel.</p>
            <p>Lorem ipsum dolor sitt amet</p>
            <button type="button" href="" id="button">lorem</button>
        </section>

    </section>
    <header id="header2"><h2>Lorem, ipsum  !</h2></header>
    <form id="form">
        <div>
            <label class="i1"for="number" class="label"><h4>Numero de telefono: +34</h4></label>
            <input class="i1"id="number" type="tel" name="text" id="inputfield" placeholder="ej. 123-456-7890"pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"required/>
        </div>
        <div>
            <label class="i2"for="name" class="label " ><h4>Nombre:</h4></label>
            <input class="i2"id="name" name="name"placeholder="Nombre Apellido "  type="text" required>
        </div>
        <div>
            <input id="submit"type="submit" value="Send" />
        </div>
    </form>
</body>
</html>